.formulario-contacto {
    background-color: $colorFondoFormulario;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  
    input[type=text], input[type=email], input[type=tel], textarea {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      background-color: $colorFondoBotonFormulario;
      color: $colorTextoBotonFormulario;
      font-size: 1.2rem;
    }
  
    input[type=submit], input[type=reset] {
      margin: 1rem 0;
      font-size: 1.2rem;
    }
  
    input[type=submit] {
      background-color: $colorFondoBotonFormulario;
      color: $colorTextoBotonFormulario;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
      &:hover {
        transform: scale(1.1);
        background-color: $colorFondo;
        color: $colorTexto;
        box-shadow: 0 0 10px $colorSombraTexto;
      }
    }
  
    input[type=reset] {
      background-color: $colorFondoBotonFormulario;
      color: $colorTextoBotonFormulario;
      box-shadow: 0 0 5px $colorSombraBotonFormulario;
  
      &:hover {
        transform: scale(1.1);
        background-color: $colorFondo;
        color: $colorTexto;
        box-shadow: 0 0 10px $colorSombraTexto;
      }
    }
  
    textarea {
      height: 10rem;
    }
  }