* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  background-color: #0d0c0c;
  background-image: linear-gradient(to left,rgb(197, 149, 19),rgb(167, 240, 187),rgb(160, 160, 20));
}