* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  background-color: #110f0f;
  background-image: linear-gradient(to left,rgb(53, 79, 224),rgb(30, 225, 85),rgb(17, 17, 16));
}