$colorFondo: #110f0f;
$colorBoton: #4a4040;
$colorTextoBoton: #e9dfdf;
$colorSombraBoton: rgba(0, 0, 0, 0.3);
$colorTexto: #fef5f5;
$colorSombraTexto: #716868;
$colorFondoFormulario: rgba(255, 255, 255, 0.1);
$colorFondoBotonFormulario: #1a1919;
$colorTextoBotonFormulario: #121111;
$colorSombraBotonFormulario: #716868;