$colorFondo: #110f0f;
$colorBoton: #4a4040;
$colorTextoBoton: #e9dfdf;
$colorSombraBoton: rgba(0, 0, 0, 0.3);
$colorTexto: #fef5f5;
$colorSombraTexto: #716868;
$colorFondoFormulario: rgba(255, 255, 255, 0.1);
$colorFondoBotonFormulario: #1a1919;
$colorTextoBotonFormulario: #121111;
$colorSombraBotonFormulario: #716868;
$colortextoprincpal:rgba(17, 15, 15, 0.7); ;

$num-inicio: 1;
$num-fin: 10;
$font-size: 1.5;
$color: 15;

@for $i from $num-inicio through $num-fin {
  $font-size: $i * 0.5;
  $color: $i * 10;
  $color-hex: '#' + ($color * 10000);

  .elemento-#{$i} {
    font-size: #{$font-size}rem;
    color: #{$color-hex};
  }
}